
 * {
 	box-sizing: border-box;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
.icon-bar {
    border: 1px solid black;
    display: block;
}
.navbar-brand p{
	color:black;
	font-weight: bold;

	}
	li {
		text-align: center;
		border: 1px solid black;
		width: auto;
	}

#nav-list a{
	text-align:center;
	color:black;
}
#nav-list a:hover{
	background:#e7e7e7;}
#header-nav{
	background-color:gray;}
#collapsable-nav{
	border: 1px solid black;

	}
.body-note p{
	color:black;
	margin:10px;}
.body-note{
	background-color:gray;
	height:1000px;}
@media (min-width: 768px) {
	.body-note{color:black;
		margin:30px;}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border:1px solid black;
	display: none;
    }
}
